@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Imperial+Script&family=Ruda&display=swap');

header > h1 {
  font-family: 'Imperial Script';
  font-weight: 400;
  font-size: 8rem; 
  text-align: center;
}

h2 {
    border-bottom: solid black;
    font-weight: 400;
    font-family: 'Ruda';
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    border-collapse: collapse;
}

article.recipe {
    font-family: "Crimson Pro";
    font-weight: 400;
    width: 45rem;
    margin: 0 auto;
    background-color: rgb(247,237,226);
    text-align: left;
    padding: 1rem;
}

article.recipe > header > dl {
    
    font-family: 'Ruda';
    font-weight: 400;
    border-spacing: .2rem;
    font-size: 1rem;
    background-color:rgb(245,202,195);
    border-top: 0.1rem dashed rgb(242,132,130);
    border-bottom: 0.1rem dashed rgb(242,132,130);
    border-left: 0.1rem dashed rgb(242,132,130);
    border-right: 0.3rem solid rgb(242,132,130);
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
}

article.recipe > section > img {
    width: 45rem;
    margin: 0 auto;
    padding: 1rem;
}